body,
html {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: row;

    .menu {
        flex-grow: 0;
        flex-shrink: 1;
        min-width: 220px;
        overflow-y: auto;
        background-color: aqua;
    }

    .main {
        flex: 1;
        height: 100vh;
        overflow-y: auto;
        background-color: #f6f8f9;

        .container {
            margin: 0% auto;
            width: 1560px;
            padding-top: 25px;
            padding-bottom: 25px;



            .title_container {
                display: flex;
                height: 80px;
                .title_left {
                    flex: 1;
                    display: flex;
                    .title {
                        flex: 1;
                        background-color: #4c93e4;
                    }
                }

                .title_right {
                    flex: 1;
                height: 80px;

                    background-color: red;

                    .node_loss_indicates {
                        flex-direction: row;
                        display: flex;

                        .node_loss_indicate {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }

            .nodes {
                font-size: 12px;
                background-color: white;
                box-sizing: border-box;
                padding: 30px;
                // width: 1098px;
                display: grid;
                grid-template-columns: repeat(50, 25px);
                grid-auto-rows: 25px;
                border-radius: 8px;

                /* 设置每行高度为 50px */
                /* gap: 3px; */
                .node {
                    background-color: #d1d1d1;
                    border-radius: 5px;
                    margin: 1.5px;
                    box-sizing: content-box;
                    display: flex;
                    // text-align: center;
                    align-items: center;
                    justify-content: center;
                }

                .node_red {
                    background-color: #4c93e4;
                }

                .node_loss_100 {
                    background-color: rgba(80, 80, 80, 0.85);
                    /* 更亮的灰色 */
                }

                .node_loss_75 {
                    background-color: rgba(255, 69, 92, 0.85);
                    /* 更亮的红色 */
                }

                .node_loss_50 {
                    background-color: rgba(255, 223, 85, 0.85);
                    /* 亮金黄色 */
                }

                .node_loss_25 {
                    background-color: rgba(255, 158, 53, 0.85);
                    /* 更亮的橙色 */
                }

                .node_loss_0 {
                    background-color: rgba(57, 203, 92, 0.85);
                    /* 更亮的绿色 */
                }

            }
        }


    }
}