@font-face {
  font-family: "iconfont"; /* Project id 4643019 */
  src: url('iconfont.woff2?t=1732795143369') format('woff2'),
       url('iconfont.woff?t=1732795143369') format('woff'),
       url('iconfont.ttf?t=1732795143369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e605";
}

.icon-tubiaozhizuomoban:before {
  content: "\e602";
}

.icon-xiaoxi1:before {
  content: "\e641";
}

.icon-message-on:before {
  content: "\e600";
}

.icon-xiaoxi11:before {
  content: "\e601";
}

