@font-face {
  font-family: "iconfont"; /* Project id 3872584 */
  src: url('iconfont.woff2?t=1722898244642') format('woff2'),
       url('iconfont.woff?t=1722898244642') format('woff'),
       url('iconfont.ttf?t=1722898244642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-fangdajingbeifen:before {
  content: "\e612";
}

.icon-shoufukuan1:before {
  content: "\e658";
}

.icon-qianbao1-xianxing:before {
  content: "\e6e4";
}

.icon-bg-compass:before {
  content: "\e638";
}

.icon-huabanbeifenx:before {
  content: "\e63f";
}

.icon-user1:before {
  content: "\e62b";
}

.icon-wx-contact-:before {
  content: "\e608";
}

.icon-wx-contact-1:before {
  content: "\e609";
}

.icon-CompassOutline:before {
  content: "\e694";
}

.icon-compass-line:before {
  content: "\e61c";
}

.icon-chat-bubble-fill:before {
  content: "\e676";
}

.icon-chat-bubble:before {
  content: "\e7b3";
}

.icon-chat-bubble-fill1:before {
  content: "\e83d";
}

.icon-chat-bubble1:before {
  content: "\e634";
}

.icon-liaotian:before {
  content: "\e604";
}

.icon-xingzhuang9:before {
  content: "\e61b";
}

.icon-shoufukuan:before {
  content: "\e607";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-ziyuanjrit:before {
  content: "\e62f";
}

.icon-bottomsheet_icon_fav:before {
  content: "\e603";
}

.icon-erweima:before {
  content: "\e74b";
}

.icon-jiahao1:before {
  content: "\e666";
}

.icon-yuyin1:before {
  content: "\e66c";
}

.icon-biaoqingbao:before {
  content: "\e702";
}

.icon-yuyin:before {
  content: "\e77a";
}

.icon-you:before {
  content: "\e706";
}

.icon-zuo:before {
  content: "\e708";
}

.icon-gengduo1:before {
  content: "\e659";
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-diannao:before {
  content: "\e61a";
}

.icon-jingyin1-05:before {
  content: "\e62d";
}

.icon-dianzan:before {
  content: "\e722";
}

.icon-like:before {
  content: "\e682";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-gupiao:before {
  content: "\e614";
}

.icon-jinyizhoushouyi:before {
  content: "\e633";
}

.icon-rmb:before {
  content: "\e90d";
}

.icon-xiajiantou:before {
  content: "\e60a";
}

.icon-fenxiang_2:before {
  content: "\e600";
}

.icon-eye:before {
  content: "\e637";
}

.icon-4:before {
  content: "\e619";
}

.icon-fuzhi:before {
  content: "\e618";
}

.icon-jinrujiantouxiao:before {
  content: "\e8d4";
}

.icon-xinxi:before {
  content: "\e65e";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-yuyan:before {
  content: "\e7dc";
}

